@use "../../presets" as *;
@use "../../mixins" as *;

$container-small: 720px;

.brands {
  padding: 100px 0;
  background-color: $color-bg-secondary-3;

  &__title {
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    max-width: $container-small;
    margin: 0 auto 70px;

    @include xl-min {
      font-size: 3.125rem; // 50px
    }
    @include xl-lg {
      font-size: 2.75rem; // 44px
    }
    @include lg {
      font-size: 2.25rem; // 36px
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap $gap-xl;
    flex-wrap: wrap;
  }
}
